.blueBackground {
    background-color: #001f3f;
    color: white;
}

.whiteBackground {
    background-color: white;
    color: #001f3f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
    display: inline-block;
    width: 100%;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section h1 {
    font-size: 2.5rem;
}

.section h2 {
    font-size: 1.5rem;
}

.section p {
    font-size: 1rem;
}

.section a {
    color: aqua;
    text-decoration: none;
}

.section a:hover{
    text-decoration: underline;
}

.pageInfo {
    margin-bottom: 50px;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navigation .link {
    background-color: none;
    color: white;
    text-decoration: none;
    font-weight: bold;

    padding: 10px;
    margin: 5px;
    width: 150px;

    border: 3px solid white;
    border-radius: 5px;

    transition: .2s ease;
}

.navigation .link:hover {
    color: #001f3f;
    background-color: white;
    text-decoration: none;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 50px;
    padding-top: 0;
    flex-basis: 0;
}

.card {
    min-height: 500px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    border-radius: 20px;
    flex: 1 1 0px;
}

@media screen and (max-width: 1000px){
    .cardContainer {
        flex-direction: column;
        padding-bottom: 0;
    }

    .card {
        margin-bottom: 50px;
    }
}