/*  changed styling to position specific element 
    info button will always be in the top right of the ancestor with position: relative*/
.info-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 40;
}

/* changed styling to make large popup look nicer */
.ant-popover-inner {
    max-height: 75vh;
    overflow: auto;
}
