/*  changed styling to position specific element 
    info button will always be in the bottom right of the ancestor with position: relative */
.save-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 40;
}
