.text {
	text-align: center;

	color: white;
}

.top {
	min-height: 12vh;

	text-align: center;

	color: white;
	background-color: #001f3f;
}

.body {
	align-items: center;
	justify-content: center;

	min-height: 100vh;

	text-align: center;

	background-color: #001f3f;
}

.body p {
	font-size: large;

	color: white;
}

br {
	line-height: 50vh;
}

.data-upload .ant-upload-list-item:not(.ant-upload-list-item-error) .ant-upload-list-item-name {
	color: white;
}

.data-upload .ant-upload-list-item:not(.ant-upload-list-item-error) .ant-upload-text-icon .anticon {
	color: white;
}

.data-upload .ant-progress-text {
	color: white;
}


